dn: {{ basedn }}
objectClass: dcObject
objectClass: organization
dc: {{ dc }}
o: {{ dc }}

dn: ou=groups,{{ basedn }}
ou: groups
objectClass: organizationalUnit

dn: ou=people,{{ basedn }}
ou: people
objectClass: organizationalUnit
